* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.65rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    background-clip: padding-box;
  }
}

body {
  background-color: var(--bg);
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}
